html{
    font-size: 1rem;
}

body{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

#navigation
{
    background-color: rgba(10,10,10,0.8)!important;
}

#comment{
    margin-top:1em;
    margin-bottom: 1em;
    background-color: rgba(255,255,255,1);
    border-radius: 0.25em;
    box-shadow: 0.15em 0.15em 0.2em #d4d4d4;
    border: 1px solid rgba(0,0,0,.125)
}

.commentcard{
    margin-top:1em;
    box-shadow: 0.15em 0.15em 0.2em #d4d4d4;
}

.card-btn{
    float: right;
    margin-right: 0.8em;
}

.morecomment{
    margin-top:3em;
}

.rowlist{
    margin-top: 0.5em;
}